@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 5px;
}

header {
    margin: 20px 0 10px 0;
    border-radius: 5px ;
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1 {
    color: #dc3545;
    font-size: 2.5rem;
}

header span {
    color: #fff;
}

header .navegacao-primaria {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .navegacao-primaria li a {
    padding: 10px;
    color: #fff;
    font-size: 1.3rem;
}

.section-div {
    animation: inicializar .7s forwards; /* ANIMAÇÃO */
    border-radius: 5px;
    background: linear-gradient(45deg,#000 65%, rgba(100,149,237, 0.1) 35%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
    margin-top: 10px;
}

.section-div div {
    margin-top: 100px;
    align-self: start;
    display: grid;
    gap: 30px;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 200;
    color: #f7f7f7;
}

.section-div div p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 18px;
    color: #f7f7f7;
}

.section-div div a {
    justify-self: start;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div div a:hover {
    background-color: #2523239c;
    color: greenyellow;
}

.section-div img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 150px;
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/* SEÇÃO PRINCIPAL SOBRE MIM */
main {
    background-color: #111;
    color: #fff;
}

main .sobre {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.sobre_titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    color: #fff;
}

.sobre_titulo h1 {
    font-size: 2.5rem;
    color: #ff5d56;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}

.sobre_titulo p {
    color: #707070;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sobre_titulo span {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}

.sobre img {
    animation: ladoSecao .5s ease-in-out forwards;/* ANIMAÇÃO */
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 50%;
    filter: blur(0);    
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo {
    animation: sobreSecao .6S ease-in-out forwards;/* ANIMAÇÃO */
    grid-column: 2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.sobre_texto h1 {
    font-size: 2.3rem;
    color: #fff;
    grid-column: 1/-1;
}

.sobre_texto h1::after {
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

.sobre_texto p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
}

.sobre_info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap: 15px;
    align-items: center;
}

.sobre_info i {
    color: #dc3545;
    display: inline-block;
    padding-right: 15px;
    font-size: 1.5rem;
}

.sobre_info p {
    font-size: .9rem;
}

@keyframes sobreSecao {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0,);
    }
}

@keyframes ladoSecao {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0,);
    }
}